.vistor{
    display: flex;
    flex-direction: row;
    background-image: url('https://wallpaperaccess.com/full/5585322.jpg');
    background-size: cover;
}
.visitor-abvout{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 5rem;
    
}
.visitor-img{
    width: 50%;
    padding: 5rem;
}
.visitor-about-colour{
    color: rgb(8, 113, 161);
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.visitor-title{
    background: linear-gradient(to bottom, #3357f7 0%, #1abcfce7 50%, #3ef2ff 100%);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    text-fill-color: transparent;

}
.visitor-para{
    background: linear-gradient(to right, #3357f7 0%, #06a2e0e7 50%, #3ac5f8 100%);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    text-fill-color: transparent;
}